{%  extends 'base.html' %}

{% block content %}
    <div id="root-container">
        <p id="text_area">Test</p>
        <button id="mr_button">Ka!</button>
    </div>
    <script>
        var webSocketConnection = new WebSocket("ws://127.0.0.1:8000/ws/live/")
        console.log("started ws connection")
        var btn = document.getElementById("mr_button")
        var txt = document.getElementById("text_area")

        // send custom handshake msg on open
        webSocketConnection.onopen = function (event) {
            const subProtocolHandShake = {
                "type":"custom.protocol.handshake",
                "content":"dummy content"
            };
        webSocketConnection.send(JSON.stringify(subProtocolHandShake))
        };


        // on message, data is decoded and written to html element
        webSocketConnection.onmessage = function (event) {
            let textData = JSON.parse(event.data);
            txt.innerHTML = textData.content + textData['server_timestamp'];
        };

        // when button is clicked, a message will be sent down ws connection
        // currently, the server will echo back message
        // with one extra attribute "server_timestamp"
        btn.onclick = function () {
            webSocketConnection.send(JSON.stringify({
                "type":"data message",
                "content":"Ka!"
            }))
        }

    </script>


{%  endblock %}